
  
.App {
    min-height: 100vh;
    padding: 1em;
    background-image: linear-gradient(79deg, #2153bb, #5281BC 48%, #a0dfe7);
}

.auth-form-container {
    display: flex;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    justify-content: center;
    /* border: 1px solid white; */
}

.auth-form-container-inner {
    display: flex; 
    text-align: center;
    flex-direction: column;
    padding: 5em;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
}


.login-form, .register-form, .add-location-form {
    display: flex; 
    text-align: center;
    flex-direction: column;
    margin: auto;
}

label {
    text-align:left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.link-button {
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
}

button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor:pointer;
}

.home {
    display: flex;
    flex-direction: column;
}

.nav-button {
    background: none;
    color: black;
    font-size: large;
}

.navigation-menu {
    background-color: white;
    flex: 1 1 auto;
    border: 1px solid black;
    text-align: center;
}

.navigation-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-menu li {
    display: inline;
}

.Page {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

.develop-menu-item {
  border: 1px solid #CCC;
  margin-bottom: 20px;
}

.develop-menu-item .develop-menu-item-head {
    transition: all linear 0.5s;
    text-align: left;
  }

.develop-menu-item .develop-menu-item-head-title {
    font-size: 2em;
}
  

.develop-menu-item.item-inactive .develop-menu-item-body {
  overflow: hidden;
  max-height: 0;
  transition: all linear 0.5s;
  text-align: left;
}

.develop-menu-item.item-active .develop-menu-item-body {
  max-height: 1500px;
  transition: all linear 0.5s 0.3s;
  text-align: left;
}

.sub-develop-menu-item {
  border: 1px solid #CCC;
  margin-bottom: 20px;
}

.sub-develop-menu-item .sub-develop-menu-item-head {
    transition: all linear 0.5s;
    text-align: left;
  }

.sub-develop-menu-item .sub-develop-menu-item-head-title {
    font-size: 2em;
}
  

.sub-develop-menu-item.item-inactive .sub-develop-menu-item-body {
  overflow: hidden;
  max-height: 0;
  transition: all linear 0.5s;
  text-align: left;
}

.sub-develop-menu-item.item-active .sub-develop-menu-item-body {
  max-height: 1000px;
  transition: all linear 0.5s 0.3s;
  text-align: left;
}

.menu-button {
    background: none;
    text-align: left;
    font-size: 1em;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.thumbnails-center {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    justify-content: center;
}

.tardis {
  border: 1px solid #CCC;
  background-color: #003b6f;
    display: flex;
    text-align: center;
  color: white;
  flex-direction: column;
  align-items:center;
}

.tardis-interior {
    display: flex;
  align-items:center;
}

.character-panel {
  border: 1px solid #CCC;
    display: flex;
    text-align: center;
  flex-direction: column;
  align-items:center;
}

.panel-row {
    display: flex;
  align-items:center;
}

.move-character-form button {
    padding:5px;
}

.console {
}
