body {
    margin: 0 auto;
    border: 5px solid black;
}

.root {
    margin: 0 auto;
    border: 5px solid blue;
}
  
.App {
    min-height: 100vh;
    padding: 1em;
    background-image: linear-gradient(79deg, #7439db, #C66fBC 48%, #f7944d);
}

.auth-form-container {
    display: flex;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    justify-content: center;
    /* border: 1px solid white; */
}

.auth-form-container-inner {
    /* display: flex; */
    text-align: center;
    flex-direction: column;
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    width: 10em;
}


.login-form, .register-form {
    display: flex; 
    text-align: center;
    flex-direction: column;
    margin: auto;
}

label {
    text-align:left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor:pointer;
}

.home {
    display: flex;
    flex-direction: column;
}

.nav-button {
    background: none;
    color: black;
    font-size: large;
}

.navigation-menu {
    background-color: white;
    flex: 1 1 auto;
    border: 1px solid black;
    text-align: center;
}

.navigation-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-menu li {
    display: inline;
}

.Page {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}
